*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  margin: auto;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  width: 1200px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.content__list {
    position: relative;
    overflow: auto;
    height: 298px; 
}

.content {
    align-items: end;
    display: flex;
    width: 1140px;
    margin: auto;
}

.title {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
    line-height: 70px;
}
.title_sup {
    display: block;
}

.content__accent {
    color: #545050;
}


.result__video-container {
    position: relative;
}
.content__details {
    padding-left: 32px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 3px;
} 
.button {
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    border: 1px solid currentColor;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.search-form__submit-button {
    width: 194px;
    height: 35px;
    padding-top: 5px; 
}
.more-button{
    width: 100%;
    height: 35px;
}

.result__video{
    object-fit: cover;
    object-position: center; 
    width: 711px;
    height: 386px; 
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-position: center;
    object-fit: cover;
}

.content__video-card {
    display: flex;
}

.content__list-item:not(:last-child) {
    margin-bottom: 35px; 
}

.content__video-card-title {
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.content__video-card-description {
    color: white;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.content__video-card-description-container {
    margin-right: auto;
}

.search-form__fieldset {
    border: none;
}

.search-form__label:not(:last-child) {
    margin-right: 15px; 
}
.search-form__checkbox-list {
    display: flex;
    margin-top: 5px;
}
.search-form__pseudo-checkbox  {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}
.search-form__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-form__fieldset-title {
    font-weight: 400;
    margin-top: 4px;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.search-form__label-text {
    display: block;
    font-weight: 400;
    font-size: 18px; 
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer;
}
.search-form__textfield {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 225px;
    color: white;
    border-top: 1px solid white;
    border-left: 0px solid white;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    background-color: transparent;
    margin-top: 6px;
}
.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0; 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.content__card-link  {
    display: block;
    margin: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background: white;
  outline: 1px solid white;
  border: 1px solid black;
}

.search-form__pseudo-checkbox:hover + .search-form__label-text {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.button:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.content__card-link:hover {
    text-decoration: underline white;
    text-underline-offset: 6px;
}
.content__card-link:focus {
    outline: revert;
}

.content__card-link:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}
.search-form__textfield:focus  {
    outline: revert;
}
.search-form__textfield:active  {
    border: 1px solid white;
}
.search-form__textfield:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.button:active {
    background-color: #545050;
}
.content__card-link:active {
    background-color: #545050;
}
.search-form__label:has(.search-form__checkbox:focus-visible) {
    outline-offset: 1px;
    outline: 1px solid white;
}

.button:focus {
    outline: revert;
}
.button:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
    border: 1px solid white;
}
